/*Se aplica a tudo */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}

/*Caixas*/

.Menu {
    height: 75px;
    width: 100%;
    background: black;
    margin-top: 0;
    margin-left: 0;
    box-shadow: 0 16px 12px rgba(0, 0, 0, 0.2);
    z-index: 8;
}

.Scroll {
    height: 375px;
    width: 100%;
    margin-top: 250px;
    margin-left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 8;
}

.FaixaAviso {
    height: 50px;
    width: 102%;
    margin-top: 100px;
    margin-left: -2%;
    border: 3px solid #000;
    background: red;
    z-index: 8;
}

/*Imagems*/

.ImagemApresentacao {
    max-width: 40%;
    border-color: 3px solid #000;
    box-shadow: 0 16px 12px;
    margin-top: 30px;
    margin-left: 55%;
    z-index: 10;
}

.ImagemVenda {
    max-width: 15%;
    max-height: 250px;
    margin-left: 5%;
    border-color: 3px solid #000;
    box-shadow: 0 16px 12px;
    z-index: 10;
}
/*Links*/

.LinkWhite {
    color: white;
    z-index: 10;
}

.LinkBlack {
    color: black;
    z-index: 10;
}

/*Textos*/

.Titulo {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-top: -50px;
    margin-left: 5%;
    z-index: 10;
    max-width: 20%;
}

.TextSuporte {
    font-family: 'Courier New', Courier, monospace;
    margin-top: -50px;
    margin-left: 75%;
    z-index: 10;
    max-width: 4%;
}

.TextCarrinho {
    font-family: 'Courier New', Courier, monospace;
    margin-top: -34px;
    margin-left: 82%;
    z-index: 10;
    max-width: 4%;
}

.TextMinhaConta {
    font-family: 'Courier New', Courier, monospace;
    margin-top: -34.5px;
    margin-left: 90%;
    z-index: 10;
    max-width: 10%;
}



.TextApresentacao {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: -300px;
    margin-left: 2%;
    z-index: 10;
    max-width: 50%;
}

.TextApresentacao1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: -5px;
    margin-left: 2%;
    z-index: 10;
    max-width: 50%;
}

.TextVenda {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    max-width: 15%;
    margin-left: 5%;
    margin-top: 20px;
    z-index: 10;
}

.TextVendaSec {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    max-width: 15%;
    margin-left: 25.1%;
    margin-top: -64px;
    z-index: 10;
}

.TextVendaTer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    max-width: 15%;
    margin-left: 45.5%;
    margin-top: -64px;
    z-index: 10;
}

.TextVendaQar {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    max-width: 15%;
    margin-left: 65.7%;
    margin-top: -64px;
    z-index: 10;
}

.TextVendaQin {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    max-width: 15%;
    margin-left: 85.9%;
    margin-top: -64px;
    z-index: 10;
}

.TextVendaSen {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    max-width: 15%;
    margin-left: 106.2%;
    margin-top: -64px;
    z-index: 10;
}

.TextVendaSet {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    max-width: 15%;
    margin-left: 126.4%;
    margin-top: -64px;
    z-index: 10;
}

.TextVendaOto {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    max-width: 15%;
    margin-left: 146.7%;
    margin-top: -64px;
    z-index: 10;
}

.TextVendaNon {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    max-width: 15%;
    margin-left: 167%;
    margin-top: -64px;
    z-index: 10;
}

.TextVendaDez {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    max-width: 15%;
    margin-left: 187.1%;
    margin-top: -64px;
    z-index: 10;
}

.Aviso {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    z-index: 10;
}